body {
  background-image: url("/public/images/bgimg3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #252525;
}
.text {
  margin-left: 20px;
  width: 450px;
}
.welcome {
  font-family: "Bebas Neue";
  font-size: 50px;
}

.welcome1 {
  font-size: 20px;
  color: #22418b;
}

.caption {
  color: #fcbe3f;
  font-size: 20px;
}
#btn1 {
  color: #ef2346;
  border: 1px solid #ef2346;
  background-color: transparent;
}
#btn2 {
  color: aliceblue;
  background-color: #ef2346;
  border: 1px solid #ef2346;
}

.btn {
  transition: 0.6s;
  padding: 13px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  border: 0;
  width: 150px;
  text-align: center;
  display: block;
  margin: 10px 20px;
}
#btn2:hover {
  background-color: transparent;
  color: #ef2346;
}

#btn1:hover {
  text-shadow: 1px 1px 20px 70px #252525;
  background-color: #ef2346;
  color: aliceblue;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.buttons {
  margin: 0;
  padding: 0;
  width: 600px;
}
