.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #252525;
    height: 70px;
    width: 100%;
}

.nav_links li {
    display: inline-block;
    margin: 20px;
}

.nav_links a {
    color: aliceblue;
    text-decoration: none;
}

.navbar h3 {
    color: aliceblue;
    margin-left: 20px;
}

.nav_links a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(240, 193, 51);
    text-decoration-thickness: 2px;
}